section.container.container__contacts
	.contacts
		+svg("stamp").stamp
		.row
			.avatar.col-sm-auto.col-12
				figure.avatar__user(
					style={
						'background-image': 'url(images/avatar.jpg)'
					}
				)
			.col
				form(action="#")
					.form-group
						input.form-control(type="text" value="Владимир")
					.form-group
						input.form-control(type="text" value="15.03.1994")
					.form-group
						input.form-control(type="text" value="Кишинев")
					.form-group
						input.form-control(type="text" value="t.me/tiigrus")
