extends pug/base

append vars

block content
	main
		section.container
			.contacts
				+svg("stamp").stamp
				.row
					.avatar.col-sm-auto.col-12
						figure.avatar__user(
							style={
								'background-image': 'url(images/avatar.jpg)'
							}
						)
					.col
						form(action="#")
							.form-group
								input.form-control(type="text" value="Владимир")
							.form-group
								input.form-control(type="text" value="15.03.1994")
							.form-group
								input.form-control(type="text" value="Кишинев")
							.form-group
								input.form-control(type="text" value="t.me/tiigrus")

		section.container
			.skils
				.main-title
					h1
						| Навыки
				.row
					.col-sm-2.col-4
						.custom-control.custom-checkbox
							input(type="checkbox" class="custom-control-input" id="html5")
							label.custom-control-label(for="html5")
								| Html5
						.custom-control.custom-checkbox
							input(type="checkbox" class="custom-control-input" id="css3")
							label.custom-control-label(for="css3")
								| css3
						.custom-control.custom-checkbox
							input(type="checkbox" class="custom-control-input" id="bem")
							label.custom-control-label(for="bem")
								| БЭМ

					.col-sm-2.col-4
						.custom-control.custom-checkbox
							input(type="checkbox" class="custom-control-input" id="sass")
							label.custom-control-label(for="sass")
								| SASS
						.custom-control.custom-checkbox
							input(type="checkbox" class="custom-control-input" id="less")
							label.custom-control-label(for="less")
								| LESS
						.custom-control.custom-checkbox
							input(type="checkbox" class="custom-control-input" id="gulp")
							label.custom-control-label(for="gulp")
								| gulp

					.col-sm-2.col-4
						.custom-control.custom-checkbox
							input(type="checkbox" class="custom-control-input" id="vanillaJs")
							label.custom-control-label(for="vanillaJs")
								| vanillaJs
						.custom-control.custom-checkbox
							input(type="checkbox" class="custom-control-input" id="angular")
							label.custom-control-label(for="angular")
								| angular
						.custom-control.custom-checkbox
							input(type="checkbox" class="custom-control-input" id="JQUERY")
							label.custom-control-label(for="JQUERY")
								| JQUERY

					.col-sm-2.col-4
						.custom-control.custom-checkbox
							input(type="checkbox" class="custom-control-input" id="git")
							label.custom-control-label(for="git")
								| GIT
						.custom-control.custom-checkbox
							input(type="checkbox" class="custom-control-input" id="foundation")
							label.custom-control-label(for="foundation")
								| fOUNDATION
						.custom-control.custom-checkbox
							input(type="checkbox" class="custom-control-input" id="bootstrap")
							label.custom-control-label(for="bootstrap")
								| BOOTSTRAP

		section.container
			.skils-level
				.row
					.col-sm-4.order-sm-first.order-last
						<svg viewBox="0 0 257 138">
							<g id="3">
								<g id="meter">
									<path id="Shape 2" fill="#ffc815" d="M1.99 128.9c0-40.49 19.26-76.5 49.17-99.64l34.85 42.35c-18.66 14.64-28.43 31.95-28.43 57.29H1.99z"></path>
									<path id="Shape 3" fill="#a3cd3b" d="M57.12 24.96c20.58-14.46 45.74-23 72.92-23 27.21 0 52.37 8.54 72.9 23L168.42 68c-14.68-9.92-26.29-12.2-38.38-12.2-12.06 0-26.19 4.35-38.36 12.2L57.12 24.96z"></path>
									<path id="Shape 4" fill="#0093d7" d="M207.25 29.26c29.12 23.14 47.79 59.15 47.79 99.64h-53.99c0-25.34-10.39-43.4-27.48-57.29l33.68-42.35z"></path>
									<path id="meter__arrow" x='80' y='80' transform='rotate(-35 134 122)' fill="#3e3d40" d="M139.66 130.86c-2.81 4.3-8.55 5.42-12.79 2.58L85.83 96l51.32 21.9c4.21 2.89 5.35 8.7 2.51 12.96z"></path>
								</g>
							</g>
						</svg>
					.col-lg-3.col-sm
						.main-title
							h2
								| Мой уровень владения Java Script
						.skils-level__counter
							| 0


