extends pug/base

append vars

block content
	main
		section.container
			.contacts
				.row
					.col-auto.avatar
						figure.avatar__user(
							style={
								'background-image': 'url(images/avatar.jpg)'
							}
						)

					.col
						form(action="#")
							.form-group
								input.form-control(type="text" placeholder="Имя")
							.form-group
								input.form-control(type="text" placeholder="Дата рождения")
							.form-group
								input.form-control(type="text" placeholder="Город")
							.form-group
								input.form-control(type="text" placeholder="Контактные данные")

		section.container
			.skils
				.main-title
					h1
						| Навыки
				.row
					.col-2
						.custom-control.custom-checkbox
							input(type="checkbox" class="custom-control-input" id="html5")
							label.custom-control-label(for="html5")
								| Html5
						.custom-control.custom-checkbox
							input(type="checkbox" class="custom-control-input" id="css3")
							label.custom-control-label(for="css3")
								| css3
						.custom-control.custom-checkbox
							input(type="checkbox" class="custom-control-input" id="bem")
							label.custom-control-label(for="bem")
								| БЭМ

					.col-2
						.custom-control.custom-checkbox
							input(type="checkbox" class="custom-control-input" checked id="sass")
							label.custom-control-label(for="sass")
								| SASS
						.custom-control.custom-checkbox
							input(type="checkbox" class="custom-control-input" id="less")
							label.custom-control-label(for="less")
								| LESS
						.custom-control.custom-checkbox
							input(type="checkbox" class="custom-control-input" id="gulp")
							label.custom-control-label(for="gulp")
								| gulp

					.col-2
						.custom-control.custom-checkbox
							input(type="checkbox" class="custom-control-input" id="vanillaJs")
							label.custom-control-label(for="vanillaJs")
								| vanillaJs
						.custom-control.custom-checkbox
							input(type="checkbox" class="custom-control-input" id="angular")
							label.custom-control-label(for="angular")
								| angular
						.custom-control.custom-checkbox
							input(type="checkbox" class="custom-control-input" id="JQUERY")
							label.custom-control-label(for="JQUERY")
								| JQUERY

					.col-2
						.custom-control.custom-checkbox
							input(type="checkbox" class="custom-control-input" id="git")
							label.custom-control-label(for="git")
								| GIT
						.custom-control.custom-checkbox
							input(type="checkbox" class="custom-control-input" id="foundation")
							label.custom-control-label(for="foundation")
								| fOUNDATION
						.custom-control.custom-checkbox
							input(type="checkbox" class="custom-control-input" id="bootstrap")
							label.custom-control-label(for="bootstrap")
								| BOOTSTRAP

		section.container
			.skils-level
				.row
					.col-4
						+svg("meter").skils-level__icon
					.col-3
						.main-title
							h2
								| Мой уровень владения Java Script
						.skils-level__counter
							| 954


