extends pug/base

append vars

block content
	main
		section.container
			.contacts
				+svg("stamp").stamp
				.row
					.avatar.col-sm-auto.col-12
						figure.avatar__user(
							style={
								'background-image': 'url(images/avatar.jpg)'
							}
						)
					.col
						form(action="#")
							.form-group
								input.form-control(type="text" value="Владимир")
							.form-group
								input.form-control(type="text" value="15.03.1994")
							.form-group
								input.form-control(type="text" value="Кишинев")
							.form-group
								input.form-control(type="text" value="t.me/tiigrus")

		section.container
			.skils
				.main-title
					h1
						| Навыки
				.row
					.col-sm-2.col-4
						.custom-control.custom-checkbox
							input(type="checkbox" class="custom-control-input" checked id="html5")
							label.custom-control-label(for="html5")
								| Html5
						.custom-control.custom-checkbox
							input(type="checkbox" class="custom-control-input" checked id="css3")
							label.custom-control-label(for="css3")
								| css3
						.custom-control.custom-checkbox
							input(type="checkbox" class="custom-control-input" checked id="bem")
							label.custom-control-label(for="bem")
								| БЭМ

					.col-sm-2.col-4
						.custom-control.custom-checkbox
							input(type="checkbox" class="custom-control-input" checked id="sass")
							label.custom-control-label(for="sass")
								| SASS
						.custom-control.custom-checkbox
							input(type="checkbox" class="custom-control-input" checked id="less")
							label.custom-control-label(for="less")
								| LESS
						.custom-control.custom-checkbox
							input(type="checkbox" class="custom-control-input" checked id="gulp")
							label.custom-control-label(for="gulp")
								| gulp

					.col-sm-2.col-4
						.custom-control.custom-checkbox
							input(type="checkbox" class="custom-control-input" id="vanillaJs")
							label.custom-control-label(for="vanillaJs")
								| vanillaJs
						.custom-control.custom-checkbox
							input(type="checkbox" class="custom-control-input" id="angular")
							label.custom-control-label(for="angular")
								| angular
						.custom-control.custom-checkbox
							input(type="checkbox" class="custom-control-input" checked id="JQUERY")
							label.custom-control-label(for="JQUERY")
								| JQUERY

					.col-sm-2.col-4
						.custom-control.custom-checkbox
							input(type="checkbox" class="custom-control-input" checked id="git")
							label.custom-control-label(for="git")
								| GIT
						.custom-control.custom-checkbox
							input(type="checkbox" class="custom-control-input" id="foundation")
							label.custom-control-label(for="foundation")
								| fOUNDATION
						.custom-control.custom-checkbox
							input(type="checkbox" class="custom-control-input" checked id="bootstrap")
							label.custom-control-label(for="bootstrap")
								| BOOTSTRAP

		section.container
			.skils-level
				.row
					.col-sm-4.order-sm-first.order-last
						+svg("meter").skils-level__icon
					.col-lg-3.col-sm
						.main-title
							h2
								| Мой уровень владения Java Script
						.skils-level__counter
							| 954


