*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
}

body {
	background-color: $body-bg;
	font: 500 $body-font-size $font-family-roboto;
}

main{
	margin: 60px 0 100px;
}

.container {
	background: url('/images/container-bg.jpg') repeat center;
	background-size: cover;
}

.avatar {
	&__user {
		width: 140px;
		height: 140px;
		border-radius: 50%;
		margin: 0;
		background-size: cover;
		background-position: center;
	}
}

.my-30{
	margin-top: 30px;
	margin-bottom: 30px;
}
