*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
}

body {
	background-color: $body-bg;
	font: 500 $body-font-size $font-family-roboto;
	color: $body-color;
}

main{
	margin: 60px 0 100px;
}

.container {
	background: url('/images/container-bg.jpg') repeat center;
	background-size: cover;
	padding-right: $grid-gutter-width;
	padding-left: $grid-gutter-width;
	margin-bottom: 2px;
}

.avatar {
	&__user {
		width: 138px;
		height: 138px;
		border-radius: 50%;
		margin: 0;
		background-size: cover;
		background-position: center;
	}
}

.form-label-group{
	position: relative;
	margin-bottom: 1rem;
}

.form-control{
	border: none;
	border-bottom: $input-border-width solid $input-border-color;
	letter-spacing: 1.3px;
	&::placeholder{
		text-transform: uppercase;
	}
}

.contacts{
	padding: 30px 0;
	form{
		margin: -8px 0 0;
		position: relative;
		padding: 0 0 0 2px;
	}
	.form-group{
		&:last-child{
			margin-bottom: 0;
		}
	}
}

.main-title{
	*{
		color: $heading-font-color;
		font-size: $heading-font-size;
		font-weight: 500;
		margin: 0 0 18px;
	}
}

.custom-control{
	display: flex;
	&-label{
		display: flex;
		align-items: center;
		letter-spacing: 1px;
		text-transform: uppercase;
	}
}

.skils{
	padding-top: 35px;
	.custom-control{
		margin: 0 0 35px;
	}
}

.skils-level{
	padding: 50px 0 48px;
	&__icon{
		width: 255px;
	}
	.main-title{
		padding: 15px 0 12px;
	}
	&__counter{
		font-size: 50px;
		letter-spacing: 3px;
		line-height: 22px;
		color: #0093d7;
		font-weight: 900;
	}
}
