*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
}

body {
	font: 500 $body-font-size $font-family-roboto;
	color: $body-color;
	background-color: $body-bg;
}

main {
	margin: 60px 0 100px;
}

.container {
	margin-bottom: 2px;
	padding-right: $grid-gutter-width;
	padding-left: $grid-gutter-width;
	background: url("/images/container-bg.jpg") repeat center;
	background-size: cover;
}

.avatar {
	&__user {
		margin: 0;
		border-radius: 50%;
		width: 138px;
		height: 138px;
		background-position: center;
		background-size: cover;
		transform: scale(1, 1);
		transition: 0.3s ease-out;
		transition-property: transform;
	}

	@include hover-focus {
		.avatar__user {
			transform: scale(1.05, 1.05);
		}
	}
}

.form-label-group {
	position: relative;
	margin-bottom: 1rem;
}

.form-control {
	border: none;
	border-bottom: $input-border-width solid $input-border-color;
	letter-spacing: 1.3px;
	text-transform: uppercase;
}

.contacts {
	position: relative;
	padding: 30px 0;

	form {
		position: relative;
		margin: -8px 0 0;
		padding: 0 0 0 2px;
	}

	.form-group {
		&:last-child {
			margin-bottom: 0;
		}
	}

	.stamp {
		position: absolute;
		right: -2px;
		bottom: 4px;
		z-index: -1;
		width: 160px;
		height: 180px;
		opacity: 0;
		transform: scale(1.2);
		transition: all 0.3s linear;

		&.is-active {
			z-index: 1;
			opacity: 1;
			animation: bounceIn 500ms;
			animation-delay: 0ms;
		}

		@keyframes bounceIn {
			from,
			20%,
			60%,
			80%,
			to {
				transform-origin: center;
				animation-timing-function: cubic-bezier(1, 0, 1, 1);
			}

			0% {
				opacity: 0;
				transform: rotate(10deg) scale(2);
			}

			60% {
				opacity: 1;
				transform: scale(0.95);
			}

			80% {
				transform: scale(0.9, 0.9);
			}

			to {
				opacity: 1;
				transform: scale(1, 1);
			}
		}
	}
}

.main-title {
	* {
		margin: 0 0 18px;
		font-weight: 500;
		font-size: $heading-font-size;
		color: $heading-font-color;
	}
}

.custom-control {
	display: flex;

	&-label {
		display: flex;
		align-items: center;
		letter-spacing: 1px;
		text-transform: uppercase;
	}
}

.skils {
	padding: 35px 0 0;

	.custom-control {
		margin: 0 0 35px;

		&::after {
			content: "";
			min-height: inherit;
			font-size: 0;
		}
	}
}

.skils-level {
	padding: 50px 0 48px;

	&__icon {
		width: 255px;
		max-width: 100%;
	}

	.main-title {
		padding: 15px 0 12px;
	}

	&__counter {
		font-weight: 900;
		font-size: 50px;
		line-height: 22px;
		letter-spacing: 3px;
		color: #0093d7;
	}
}

#meter__arrow {
	transition: all 0.3s linear;
}

@include media-breakpoint-down(md) {
	.container__contacts {
		overflow: hidden;
	}
}

@include media-breakpoint-down(sm) {
	main {
		margin: 0;
	}

	.contacts {
		.stamp {
			bottom: 0;
			width: 100px;
		}

		.avatar__user {
			margin: 0 auto 20px;
		}
	}

	.skils {
		padding: 30px 0 0;
	}

	.skils-level {
		padding: 30px 0;

		.main-title {
			padding: 0;
		}

		&__counter {
			margin: 0 0 20px;
			line-height: 1.1;
		}

		&__icon {
			display: block;
			margin: 0 auto;
		}
	}
}

@include media-breakpoint-down(xs) {
	.main-title,
	.skils-level__counter {
		text-align: center;
	}
}
